<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js" type='text/javascript'></script>
    
    <title>Quora</title>
  </head>

  <body>
  	<div>
      <h2 class="maintitle"><a href="http://localhost:9393/">Quora</a></h2>

      <form method=post action=/questions>
        <input id="search_bar" type=text placeholder="Ask or Search Quora" name="search">
        <input id="search_button" type=submit value="Ask Question">
      </form>

      <a href="http://localhost:9393/questions">Read</a>
      <a href="http://localhost:9393/answers">Answer</a>
      <a href="http://localhost:9393/users/:id">Profile</a>
      <a href="http://localhost:9393/login">Sign Out</a>
    </div>
  	
  </body>

 </html>